*{
    padding:0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: yellow;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.top{
    width: 100%;    
    float: left;
    
}
.email,.social{
    width: 25%;    
    border: none;    
    margin-left: 5px;
    float: left;
}
.phone{
    width: 18%;
    float: left;
    border-right: 1px solid gray;
}
.social{
    float: right;
    border: 1px solid red;
    text-align: right;

}
#Phone_color{
    color: #00D945;
    font-size: 18px;
    
}
.phone span{
    margin: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/****************social**************/
.icon{
    font-size: 15px;
    padding: 8px;    
    border-radius: 5px;
    color: #00D945;
    
    
}
